<header class="header">
    <div class="container header-container">
        <div class="logo">
            <a href="/home">
                <img src="images\index_assets\main_logo.png" alt="San Patricio Logo">
                </a>
        </div>
        <nav class="nav" id="mainNav">
            <ul class="menu">
                <li><a href="/home">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="lo-mas-nuevo.html">LO MÁS NUEVO</a></li>
                <li><a href="/contact">CONTÁCTANOS</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <div class="search-bar">
                <input type="text" placeholder="¿Qué estás buscando?">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <a href="/perfil" class="account-icon"><i class="fa-solid fa-user"></i></a>
            <a href="carrito.html" class="cart-icon"><i class="fa-solid fa-bag-shopping"></i></a>
            <a href="/logout"><i class="fa-solid fa-power-off"></i></a>
        </div>
        <button class="menu-toggle" id="menuToggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
  </header>